{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Production environment",
      "url": "https://www.bitgo.com"
    },
    {
      "description": "Test environment",
      "url": "https://test.bitgo.com"
    }
  ],
  "info": {
    "version": "2.0.0",
    "title": "BitGo Platform V2 Reference",
    "contact": {
      "name": "BitGo, Inc."
    },
    "x-logo": {
      "url": "./logo.png",
      "backgroundColor": "#000000",
      "altText": "BitGo API Logo"
    }
  },
  "paths": {
    "/api/v2/{coin}/wallet/{walletId}/addresses": {
      "get": {
        "tags": [
          "Address"
        ],
        "summary": "List addresses",
        "description": "List receive addresses on a wallet",
        "operationId": "v2.wallet.addresses",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          },
          {
            "name": "labelContains",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "A case-insensitive regular expression which will be used to filter returned addresses based on their address label."
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "mine",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to return only the addresses which the current user has created."
          },
          {
            "$ref": "#/components/parameters/prevId"
          },
          {
            "$ref": "#/components/parameters/chains"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                -1,
                1
              ],
              "default": 1
            },
            "description": "Sort order of returned addresses. (1 for ascending, -1 for descending)."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "coin": {
                      "type": "string"
                    },
                    "totalAddressCount": {
                      "type": "integer"
                    },
                    "pendingAddressCount": {
                      "description": "Total number of addresses pending on-chain initialization on this wallet",
                      "type": "integer"
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7Bid%7D~1address/post/responses/200/content/application~1json/schema"
                      }
                    },
                    "nextBatchPrevId": {
                      "$ref": "#/paths/~1api~1v2~1auditlog/get/responses/200/content/application~1json/schema/properties/nextBatchPrevId"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Wallet is pending on-chain initialization"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                    },
                    {
                      "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D/put/responses/400/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "wallet.addresses()\n.then(function(addresses) {\n  // print addresses\n  console.dir(addresses);\n});\n"
          }
        ]
      }
    },
    "/api/v2/{coin}/wallet/{id}/address": {
      "post": {
        "tags": [
          "Address",
          "Wallet"
        ],
        "summary": "Create address",
        "operationId": "v2.wallet.newaddress",
        "description": "This API call is used to create a new receive address for your wallet. You may choose to call this API whenever a deposit is made. The BitGo API supports millions of addresses.\n\nPlease check the “Coin-Specific Implementation” with regards to fee address management for Ethereum.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chain": {
                    "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7Bid%7D~1address/post/responses/200/content/application~1json/schema/properties/chain",
                    "default": 1
                  },
                  "label": {
                    "description": "A human-readable label which should be applied to the new address",
                    "example": "Bob's Hot Wallet Address",
                    "maxLength": 250
                  },
                  "lowPriority": {
                    "description": "Whether the deployment of the address forwarder contract should use a low priority fee key (ETH only)",
                    "type": "boolean",
                    "default": false
                  },
                  "gasPrice": {
                    "description": "Explicit gas price to use when deploying the forwarder contract (ETH only). If not given, defaults to the current estimated network gas price.",
                    "oneOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/parameters/userId/schema"
                    },
                    "address": {
                      "type": "string"
                    },
                    "chain": {
                      "type": "integer",
                      "example": 1,
                      "enum": [
                        0,
                        1,
                        10,
                        11,
                        20,
                        21
                      ]
                    },
                    "index": {
                      "type": "integer"
                    },
                    "coin": {
                      "type": "string"
                    },
                    "lastNonce": {
                      "type": "integer",
                      "default": -1
                    },
                    "wallet": {
                      "description": "The wallet which contains this address",
                      "$ref": "#/components/parameters/userId/schema"
                    },
                    "coinSpecific": {
                      "type": "object",
                      "description": "Properties which are specific to certain coin types",
                      "properties": {
                        "xlm": {
                          "type": "object",
                          "properties": {
                            "memoId": {
                              "description": "Latest memo id generated for the wallet",
                              "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D~1transfer/get/parameters/15/schema/items",
                              "example": "1"
                            },
                            "rootAddress": {
                              "type": "string",
                              "description": "Root address of the wallet",
                              "example": "GCTTCPH4IIDK7P72FFAEJ3ZFN6WDHJH6GGMRPHPM56ZWGIQ7B3XTIJAM"
                            }
                          }
                        },
                        "txlm": {
                          "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7Bid%7D~1address/post/responses/200/content/application~1json/schema/properties/coinSpecific/properties/xlm"
                        }
                      }
                    },
                    "label": {
                      "type": "string"
                    },
                    "addressType": {
                      "type": "string",
                      "example": "p2sh",
                      "enum": [
                        "p2sh",
                        "p2sh-p2wsh",
                        "p2wsh"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                    },
                    {
                      "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D/put/responses/400/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "wallet.createAddress({ label: 'My address' })\n.then(function(address) {\n  // print new address\n  console.dir(address);\n});\n"
          }
        ]
      }
    },
    "/api/v2/{coin}/wallet/{id}/address/{addressOrId}": {
      "get": {
        "tags": [
          "Address"
        ],
        "summary": "Get address",
        "description": "Gets a receive address on a wallet",
        "operationId": "v2.wallet.singlewalletaddress",
        "parameters": [
          {
            "$ref": "#/components/parameters/addressOrId"
          },
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7Bid%7D~1address~1%7BaddressOrId%7D/put/responses/200/content/application~1json/schema"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                    },
                    {
                      "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D/put/responses/400/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "wallet.getAddress({address: '2NCzBK2Yf7PFAAfKsgc6cfTSG8FxtgMGG9C'})\n.then(function(address) {\n  // print address\n  console.dir(address);\n});\n"
          }
        ]
      },
      "put": {
        "tags": [
          "Address"
        ],
        "summary": "Update address",
        "description": "Update a receive address on a wallet",
        "operationId": "v2.wallet.updateaddress",
        "parameters": [
          {
            "$ref": "#/components/parameters/addressOrId"
          },
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "description": "New label which should apply to this address. The caller needs admin permissions for the associated wallet if the label already has a value. Otherwise view or spend permissions are fine because the label has not been set yet. This is due to the fact that customers use address labels to associate addresses with their customers.",
                    "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7Bid%7D~1address/post/requestBody/content/application~1json/schema/properties/label"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7Bid%7D~1address/post/responses/200/content/application~1json/schema"
                    },
                    {
                      "type": "object",
                      "description": "Extended address properties (not available for XRP addresses)",
                      "properties": {
                        "balance": {
                          "type": "object",
                          "properties": {
                            "updated": {
                              "description": "The last time a transaction affected the balance of this address",
                              "type": "string",
                              "format": "date-time"
                            },
                            "balance": {
                              "description": "The cleared balance",
                              "type": "integer"
                            },
                            "numTx": {
                              "description": "The number of transactions which were made using this address",
                              "type": "integer"
                            },
                            "numUnspents": {
                              "description": "The number of unspent transaction outputs which are controlled by this address",
                              "type": "integer"
                            },
                            "totalReceived": {
                              "description": "The total amount received on this address (in the chain's base unit)",
                              "type": "integer"
                            },
                            "totalSent": {
                              "description": "The total amount send from this address (in the chain's base unit)",
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/config": {},
    "/api/v2/enterprise/{id}": {
      "get": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Get enterprise",
        "operationId": "enterprise.getById",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1enterprise/post/responses/200/content/application~1json/schema"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "wallets": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "base address a v1 btc wallet"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                    },
                    {
                      "$ref": "#/paths/~1api~1v2~1admin~1enterprise/get/responses/400/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`EnterpriseNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Update enterprise",
        "operationId": "enterprise.update",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "approvalsRequired": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "How many Enterprise Admins are required for action to fire"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "202": {
            "description": "A Pending Approval for the Update has been created and is waiting for approval",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/parameters/userId/schema"
                    },
                    "enterprise": {
                      "$ref": "#/components/parameters/userId/schema",
                      "description": "The Id of the associated enterprise"
                    },
                    "walletId": {
                      "type": "string",
                      "example": "1G47mSr3oANXMafVrR8UC4pzV7FEAzo3r9",
                      "description": "The base address of the associated wallet"
                    },
                    "creator": {
                      "$ref": "#/components/parameters/userId/schema",
                      "description": "The Id of the User that created the Pending Approval"
                    },
                    "createDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "info": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "bitcoinAddressWhitelistRequest",
                            "userChangeRequest",
                            "policyRuleRequest",
                            "dailyLimitPolicyRequest",
                            "transactionRequest",
                            "transactionRequest",
                            "tagUpdateRequest",
                            "updateEnterpriseRequest",
                            "updateEnterpriseRequest"
                          ]
                        },
                        "updateEnterpriseRequest": {
                          "type": "object",
                          "properties": {
                            "action": {
                              "type": "string",
                              "enum": [
                                "add",
                                "remove"
                              ]
                            },
                            "permissions": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "admin"
                                ]
                              }
                            },
                            "userId": {
                              "$ref": "#/components/parameters/userId/schema",
                              "description": "The Id of the User to be added to or removed from the Enterprise"
                            }
                          }
                        },
                        "updateApprovalsRequiredRequest": {
                          "type": "object",
                          "properties": {
                            "requestedApprovalsRequired": {
                              "type": "number",
                              "minimum": 1,
                              "description": "the number of approvalsRequired that should be changed to"
                            }
                          }
                        }
                      }
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "approved",
                        "rejected"
                      ]
                    },
                    "walletUserIds": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/parameters/userId/schema"
                      },
                      "description": "an array of all the Users on the Wallet who need to see this Pending Approval"
                    },
                    "approvalsRequired": {
                      "type": "number",
                      "minimum": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                    },
                    {
                      "$ref": "#/paths/~1api~1v2~1admin~1enterprise/get/responses/400/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`EnterpriseNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/enterprise": {
      "get": {
        "tags": [
          "Enterprise"
        ],
        "summary": "List enterprises",
        "operationId": "enterprise.list",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enterprises": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/paths/~1api~1v2~1enterprise/post/responses/200/content/application~1json/schema/allOf/0"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "tags": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "user",
                                    "wallet",
                                    "pending",
                                    "walletV2",
                                    "pendingV2"
                                  ]
                                },
                                "description": "In what way(s) the user is associated with the enterprise"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                }
              }
            }
          },
          "404": {
            "description": "`EnterpriseNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "description": "Human-readable error message"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Client request id"
                        }
                      },
                      "required": [
                        "error",
                        "requestId"
                      ]
                    },
                    {
                      "properties": {
                        "context": {
                          "type": "object",
                          "description": "Properties that apply to a specific error name"
                        },
                        "name": {
                          "type": "string",
                          "description": "Error code"
                        }
                      },
                      "required": [
                        "name"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Create an enterprise",
        "operationId": "enterprise.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "emergencyPhone": {
                    "type": "string",
                    "description": "Phone number for emergencies",
                    "example": "+11234567890"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL the enterprises web site"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "admin": {
                          "type": "object",
                          "properties": {
                            "policy": {
                              "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet/post/responses/200/content/application~1json/schema/properties/admin/properties/policy"
                            }
                          }
                        },
                        "approvalsRequired": {
                          "type": "integer",
                          "description": "How many Enterprise Admins are required for action to fire",
                          "example": 1
                        },
                        "bitgoEthKey": {
                          "type": "string",
                          "description": "The public portion of the ethererum key generated for the enterprise fee address"
                        },
                        "bitgoOrg": {
                          "$ref": "#/components/parameters/bitgoOrg/schema"
                        },
                        "canAccessSettlement": {
                          "type": "boolean",
                          "description": "whether the enterprise has the licence to utilize settlement functionality"
                        },
                        "canCreateColdWallet": {
                          "type": "boolean",
                          "description": "whether the enterprise has the license to create cold wallets"
                        },
                        "canCreateCustodialWallets": {
                          "type": "boolean",
                          "description": "whether the enterprise has the license to create custodial wallets"
                        },
                        "canCreateHotWallet": {
                          "type": "boolean",
                          "description": "whether the enterprise has the license to create hot wallets"
                        },
                        "emergencyPhone": {
                          "$ref": "#/paths/~1api~1v2~1enterprise/post/requestBody/content/application~1json/schema/properties/emergencyPhone"
                        },
                        "ethFeeAddress": {
                          "type": "string",
                          "description": "The eth fee address used to pay for network transaction fees of this enterprise"
                        },
                        "freeze": {
                          "$ref": "#/paths/~1api~1v2~1enterprise~1%7Bid%7D~1freeze/post/responses/200/content/application~1json/schema"
                        },
                        "id": {
                          "$ref": "#/components/parameters/userId/schema"
                        },
                        "mutablePolicyWindow": {
                          "type": "integer",
                          "description": "Time in seconds after which policies on this Enterprise cannot be updated",
                          "example": 172800
                        },
                        "name": {
                          "type": "string",
                          "example": "Small Company"
                        },
                        "primaryContact": {
                          "$ref": "#/components/parameters/userId/schema",
                          "description": "The Id of the User who is the primary contact"
                        }
                      },
                      "required": [
                        "id"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "id": {
                                "$ref": "#/components/parameters/userId/schema"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "An error message explaining how the provided input was incorrect.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/enterprise/{id}/user": {
      "get": {
        "tags": [
          "Enterprise"
        ],
        "summary": "List enterprise users",
        "operationId": "enterprise.user.list",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          },
          {
            "name": "allowInactiveAdmins",
            "in": "query",
            "description": "Whether inactive admins should be returned as well",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "adminUsers": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/paths/~1api~1v2~1enterprise~1%7Bid%7D~1user/get/responses/200/content/application~1json/schema/properties/walletUsers/items"
                          },
                          {
                            "type": "object",
                            "properties": {}
                          }
                        ]
                      }
                    },
                    "nonAdminUsers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1api~1v2~1enterprise~1%7Bid%7D~1user/get/responses/200/content/application~1json/schema/properties/adminUsers/items"
                      }
                    },
                    "walletUsers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "$ref": "#/components/parameters/userId/schema"
                          },
                          "username": {
                            "type": "string",
                            "format": "email"
                          }
                        }
                      }
                    },
                    "incomplete": {
                      "type": "boolean",
                      "description": "Set to true if the Enterprise has at least 500 v1 or v2 wallets . If there are more than 500 wallets (either v1 or v2) it could mean that some Wallets were not considered for finding all Users in the walletUsers field."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                    },
                    {
                      "$ref": "#/paths/~1api~1v2~1admin~1enterprise/get/responses/400/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`EnterpriseNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Add user to enterprise",
        "operationId": "enterprise.user.add",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permission": {
                    "type": "string",
                    "enum": [
                      "admin"
                    ]
                  },
                  "username": {
                    "type": "string",
                    "format": "email",
                    "description": "The Username of the User that should be added to the Enterprise"
                  },
                  "usernames": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email",
                      "description": "The Username of a User that should be added to the Enterprise"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "202": {
            "description": "Pending Approval(s) for adding the User(s) ha(s|ve) been created and (is|are) waiting for approval",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1enterprise~1%7Bid%7D/put/responses/202/content/application~1json/schema"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "pendingApprovals": {
                          "type": "array",
                          "items": {
                            "$ref": "#/paths/~1api~1v2~1enterprise~1%7Bid%7D/put/responses/202/content/application~1json/schema"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                    },
                    {
                      "$ref": "#/paths/~1api~1v2~1admin~1enterprise/get/responses/400/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`EnterpriseNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Remove user from enterprise",
        "operationId": "enterprise.user.remove",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "format": "email"
                  }
                },
                "required": [
                  "username"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          },
          "202": {
            "description": "A Pending Approval for removing the User has been created and is waiting for approval",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pendingApprovals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1api~1v2~1enterprise~1%7Bid%7D/put/responses/202/content/application~1json/schema"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                    },
                    {
                      "$ref": "#/paths/~1api~1v2~1admin~1enterprise/get/responses/400/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`UserNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/enterprise/{id}/freeze": {
      "post": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Freeze the enterprise",
        "operationId": "enterprise.freeze",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "duration": {
                    "type": "integer",
                    "description": "seconds to freeze the enterprise for",
                    "default": 3600
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "time": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the freeze started"
                    },
                    "expires": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the freeze will end"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                    },
                    {
                      "$ref": "#/paths/~1api~1v2~1admin~1enterprise/get/responses/400/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The User needs to unlock with OTP first"
          }
        }
      }
    },
    "/api/v2/enterprise/{id}/walletLimits": {
      "get": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Get enterprise's wallet limits",
        "operationId": "enterprise.walletLimits",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          },
          {
            "$ref": "#/components/parameters/coinSingleOrList"
          },
          {
            "name": "isCustodial",
            "in": "query",
            "description": "Whether custodial limits should be returned",
            "schema": {
              "type": "boolean",
              "enum": [
                true
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "coin": {
                        "$ref": "#/components/parameters/coin/schema"
                      },
                      "limit": {
                        "type": "integer"
                      },
                      "count": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "isCustodial": {
                        "type": "boolean",
                        "enum": [
                          true
                        ]
                      }
                    },
                    "required": [
                      "coin",
                      "count"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                    },
                    {
                      "$ref": "#/paths/~1api~1v2~1admin~1enterprise/get/responses/400/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`EnterpriseNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{coin}/tx/fee": {
      "get": {
        "tags": [
          "Transfer"
        ],
        "summary": "Fee estimate",
        "description": "Returns the estimated fee for a transaction. UTXO coins will return a fee per kB, while Account-based coins will return a flat fee estimate",
        "operationId": "v2.tx.getfeeestimate",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "name": "numBlocks",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "description": "target number of blocks"
          },
          {
            "name": "recipient",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Recipient of the tx to estimate for (only for ETH)"
          },
          {
            "name": "data",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "ETH data of the tx to estimate for (only for ETH)"
          },
          {
            "name": "amount",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Amount in base units being sent to estimate for (only for ETH)"
          },
          {
            "name": "hop",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": "True if we are estimating for a hop tx, false or unspecified for a wallet tx (only for ETH)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "feePerKb": {
                          "type": "integer",
                          "description": "fee per kilobyte for a transaction to be confirmed in numBlocks number of blocks, defaults to 2 if numBlocks is not provided in the request query",
                          "example": 15902
                        },
                        "cpfpFeePerKb": {
                          "type": "integer",
                          "description": "child pays for parent fee per kilobyte where the fee includes the fees for all of the unconfirmed transactions dependent on this transaction"
                        },
                        "numBlocks": {
                          "type": "integer",
                          "description": "the target block confirmation",
                          "example": 2
                        },
                        "confidence": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 100,
                          "description": "only for BTC, the confidence for the fee estimates as a percentage",
                          "example": 80
                        },
                        "feeByBlockTarget": {
                          "type": "object",
                          "description": "only for BTC, fee estimates stored as a key-value pair where the key is the block target (between 1 and 1000) and the value is the corresponding fee estimate (in baseunits per kilobyte)",
                          "example": {
                            "1": 50536,
                            "2": 15902,
                            "3": 1579
                          }
                        }
                      },
                      "required": [
                        "feePerKb",
                        "numBlocks"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "feeEstimate": {
                          "description": "fee estimate for a transaction for the given account-based coin, denominated in base units (i.e. Wei)",
                          "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D~1transfer/get/parameters/15/schema/items"
                        },
                        "gasLimitEstimate": {
                          "description": "The amount of gas that the transaction will use, if recipient is provided in the request",
                          "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D~1transfer/get/parameters/15/schema/items"
                        },
                        "minGasPrice": {
                          "description": "minimum gas price that can be provided in base units",
                          "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D~1transfer/get/parameters/15/schema/items"
                        },
                        "minGasLimit": {
                          "description": "minimum gas limit that can be provided in base units",
                          "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D~1transfer/get/parameters/15/schema/items"
                        },
                        "maxGasLimit": {
                          "description": "maximum gas limit that can be provided in base units",
                          "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D~1transfer/get/parameters/15/schema/items"
                        }
                      },
                      "required": [
                        "feeEstimate",
                        "minGasPrice",
                        "minGasLimit",
                        "maxGasLimit"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "feeEstimate": {
                          "description": "fee estimate for a transaction for the given account-based coin, denominated in the base units of that coin (i.e. Drops for XRP, Stroops for XLM, etc)",
                          "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D~1transfer/get/parameters/15/schema/items"
                        }
                      },
                      "required": [
                        "feeEstimate"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "`CoinUnsupported` or `Invalid`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/user/{id}": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get user",
        "description": "Returns the associated user\n",
        "operationId": "user.get",
        "parameters": [
          {
            "name": "id",
            "description": "The user ID, email address, or `me` for the currently authenticated user",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/parameters/userId/schema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/parameters/userId/schema"
                    },
                    "isActive": {
                      "type": "boolean"
                    },
                    "name": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "example": "Jane"
                        },
                        "full": {
                          "type": "string",
                          "example": "Jane Doe"
                        },
                        "last": {
                          "type": "string",
                          "example": "Doe"
                        }
                      }
                    },
                    "username": {
                      "$ref": "#/paths/~1api~1v2~1user~1login/post/requestBody/content/application~1json/schema/properties/email"
                    },
                    "email": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "$ref": "#/paths/~1api~1v2~1user~1login/post/requestBody/content/application~1json/schema/properties/email"
                        },
                        "verified": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    "phone": {
                      "type": "object",
                      "properties": {
                        "phone": {
                          "type": "string",
                          "example": "408-718-6885"
                        },
                        "verified": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    "country": {
                      "type": "string",
                      "example": "USA"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                    },
                    {
                      "$ref": "#/paths/~1api~1v2~1admin~1user/get/responses/400/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "bitgo.me({}, function callback(err, user) {\n  if (err) {\n    // handle error\n  }\n  // etc\n});\n"
          }
        ]
      }
    },
    "/api/v2/user/agreement": {},
    "/api/v2/useragreement": {},
    "/api/v2/{coin}/key/{id}": {
      "get": {
        "tags": [
          "Key"
        ],
        "summary": "Get key",
        "operationId": "v2.key.get",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1key/post/responses/200/content/application~1json/schema"
                }
              }
            }
          },
          "400": {
            "description": "Invalid coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                }
              }
            }
          },
          "404": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "let keyId = '58c1f8a0781a5df8380e0e304b228c68';\n\nbitgo.coin('tbtc').keychains().get({ id: keyId })\n.then(function(keychain) {\n  // print the keychain\n  console.dir(keychain);\n});\n"
          }
        ]
      }
    },
    "/api/v2/{coin}/key": {
      "get": {
        "tags": [
          "Key"
        ],
        "summary": "List keys",
        "operationId": "v2.key.list",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1key/post/responses/200/content/application~1json/schema"
                      }
                    }
                  },
                  "required": [
                    "keys"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid Coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "bitgo.coin('tbtc').keychains().list()\n.then(function(keychain) {\n  // print the keychains\n  console.dir(keychains);\n});\n"
          }
        ]
      },
      "post": {
        "tags": [
          "Key"
        ],
        "summary": "Create key",
        "operationId": "v2.key.add",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "encryptedPrv": {
                    "type": "string",
                    "description": "Private part of this key pair, encrypted with a passphrase that only the client knows. Required for all sources except `bitgo`."
                  },
                  "enterprise": {
                    "$ref": "#/components/parameters/userId/schema",
                    "description": "The Enterprise that will own this key"
                  },
                  "newFeeAddress": {
                    "type": "boolean",
                    "description": "Create a new keychain instead of fetching enterprise key (only for Ethereum)"
                  },
                  "pub": {
                    "type": "string",
                    "description": "Public part of this key pair.  Required for all sources except `bitgo`.",
                    "example": "xpub661MyMwAqRbcGMVhmc7wqQRYMtcX9LAvSj1pjB213y5TsrkV2uuzJjWnjBrT1FUeNWGPjaVm5p7o6jdNcQJrV1cy3a1R8NQ9m7LuYKA8RpH"
                  },
                  "source": {
                    "type": "string",
                    "enum": [
                      "backup",
                      "bitgo",
                      "cold",
                      "user"
                    ],
                    "example": "user"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the new Key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encryptedPrv": {
                      "type": "string",
                      "description": "The encrypted private key"
                    },
                    "id": {
                      "$ref": "#/components/parameters/userId/schema"
                    },
                    "isBitGo": {
                      "type": "boolean",
                      "description": "`true` if this key is owned by BitGo",
                      "example": false
                    },
                    "pub": {
                      "type": "string",
                      "description": "Public part of this key pair",
                      "example": "xpub661MyMwAqRbcGMVhmc7wqQRYMtcX9LAvSj1pjB213y5TsrkV2uuzJjWnjBrT1FUeNWGPjaVm5p7o6jdNcQJrV1cy3a1R8NQ9m7LuYKA8RpH"
                    }
                  },
                  "required": [
                    "id",
                    "pub",
                    "encryptedPrv"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid Coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "// Create user key.\nlet userKey = bitgo.coin('tbtc').keychains().create();\n\n// Create BitGo key.\nlet bitGoKey = bitgo.coin('tbtc').keychains().createBitGo();\n\n// Create backup key.\nlet backupKey = bitgo.coin('tbtc').keychains().createBackup({ provider: 'cme' });\n"
          }
        ]
      }
    },
    "/api/v2/{coin}/wallet/{id}/policy/rule": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "Add policy rule",
        "description": "Adds a rule to a wallet’s policy. A wallet policy’s rules control the\nconditions under which BitGo will use its single key to sign a\ntransaction. An email notification will be sent to all wallet users\nwhen a policy is updated. This email is NOT sent for the first time\npolicy is added.\n",
        "operationId": "v2.wallet.createpolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "coin": {
                    "type": "string",
                    "example": "zrx",
                    "description": "If set, the rule will only apply to the given coin or ERC20 token in an\nEthereum wallet. It is generally recommended to not set a coin for policy rules of the following types:\n`advancedWhitelist`, `allTx`, `coinAddressWhitelist`, `coinAddressBlacklist`, `webhook`.\n"
                  },
                  "id": {
                    "type": "string",
                    "description": "The id of the rule, must be unique among rules in the policy"
                  },
                  "type": {
                    "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7Bid%7D~1policy~1rule/put/requestBody/content/application~1json/schema/properties/type"
                  },
                  "condition": {
                    "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7Bid%7D~1policy~1rule/put/requestBody/content/application~1json/schema/properties/condition"
                  },
                  "action": {
                    "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7Bid%7D~1policy~1rule/put/requestBody/content/application~1json/schema/properties/action"
                  }
                },
                "required": [
                  "id",
                  "type",
                  "action"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet/post/responses/200/content/application~1json/schema"
                }
              }
            }
          },
          "202": {
            "description": "A Pending Approval for the update has been created and is waiting for approval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1pendingApprovals~1%7Bid%7D/put/responses/202/content/application~1json/schema"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                    },
                    {
                      "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D/put/responses/400/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Policy"
        ],
        "summary": "Update policy rule",
        "description": "Updates a rule on the policy attached to a wallet",
        "operationId": "v2.wallet.updatepolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "coin": {
                    "allOf": [
                      {
                        "$ref": "#/components/parameters/coin/schema"
                      },
                      {
                        "description": "Policy rules of types `allTx`, `coinAddressWhitelist`, `coinAddressBlacklist` and `webhook` are recommended to\nbe used without setting a coin so that they will apply to all coins and tokens that could be in a wallet. If\nyour policy rule is of one of these types and has a coin set on it, you also need to set the coin in the body.\nThis is necessary because the id alone may not be sufficient for finding the correct rule to update or delete.\n"
                      }
                    ]
                  },
                  "id": {
                    "type": "string",
                    "description": "The id of the rule. The combination of id and coin must be unique among rules in the policy."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "advancedWhitelist",
                      "allTx",
                      "coinAddressWhitelist",
                      "coinAddressBlacklist",
                      "velocityLimit",
                      "webhook"
                    ],
                    "description": "What causes this rule to trigger"
                  },
                  "condition": {
                    "description": "Parameters for the type",
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "amountString": {
                            "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D~1transfer/get/parameters/15/schema/items",
                            "description": "The amount for the limit"
                          },
                          "timeWindow": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 2678400,
                            "description": "Time window in seconds for a velocity limit, between 1 and a month"
                          }
                        },
                        "required": [
                          "amountString"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "add": {
                            "description": "Address to add to the list",
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "$ref": "#/components/parameters/userId/schema"
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "item": {
                                    "allOf": [
                                      {
                                        "oneOf": [
                                          {
                                            "$ref": "#/components/parameters/address/schema"
                                          },
                                          {
                                            "$ref": "#/components/parameters/userId/schema"
                                          }
                                        ]
                                      },
                                      {
                                        "description": "Either a valid address or a wallet or enterprise id. Must be unique in this whitelist."
                                      }
                                    ]
                                  },
                                  "metaData": {
                                    "type": "object",
                                    "description": "Any data about this entry that is not used to determine when to enforce the policy",
                                    "properties": {
                                      "label": {
                                        "type": "string",
                                        "description": "A client-specified label for this entry. Label must be unique or not set."
                                      },
                                      "owner": {
                                        "type": "string",
                                        "description": "The legal owner of the address/ wallet/ enterprise",
                                        "example": "Legal Owner LLC"
                                      }
                                    },
                                    "additionalProperties": true
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "address",
                                      "walletId",
                                      "enterpriseId"
                                    ],
                                    "description": "the kind of resource a list rule entry refers to"
                                  }
                                },
                                "required": [
                                  "item",
                                  "type"
                                ]
                              }
                            ]
                          }
                        },
                        "required": [
                          "add"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "remove": {
                            "description": "Address to remove from the list",
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "$ref": "#/components/parameters/userId/schema"
                              },
                              {
                                "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7Bid%7D~1policy~1rule/put/requestBody/content/application~1json/schema/properties/condition/anyOf/1/properties/add/oneOf/2"
                              }
                            ]
                          }
                        },
                        "required": [
                          "remove"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "the url to query for the webhook"
                          }
                        },
                        "required": [
                          "url"
                        ]
                      },
                      {
                        "type": "object"
                      }
                    ]
                  },
                  "action": {
                    "description": "What happens when this rule is triggered",
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "deny",
                          "getApproval",
                          "getBitGoAdminApproval",
                          "getFinalApproval",
                          "getCustodianApproval",
                          "getIdVerification",
                          "noop"
                        ]
                      },
                      "approvalsRequired": {
                        "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D/put/requestBody/content/application~1json/schema/properties/approvalsRequired"
                      },
                      "userIds": {
                        "description": "For a final approver action, who can approve",
                        "type": "array",
                        "items": {
                          "$ref": "#/components/parameters/userId/schema"
                        }
                      }
                    },
                    "required": [
                      "type"
                    ]
                  }
                },
                "required": [
                  "id",
                  "type",
                  "action"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet/post/responses/200/content/application~1json/schema"
                }
              }
            }
          },
          "202": {
            "description": "A Pending Approval for the update has been created and is waiting for approval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1pendingApprovals~1%7Bid%7D/put/responses/202/content/application~1json/schema"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                    },
                    {
                      "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D/put/responses/400/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Policy"
        ],
        "summary": "Delete policy rule",
        "description": "Deletes a rule from the policy attached to a wallet",
        "operationId": "v2.wallet.removepolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7Bid%7D~1policy~1rule/put/requestBody/content/application~1json/schema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet/post/responses/200/content/application~1json/schema"
                }
              }
            }
          },
          "202": {
            "description": "A Pending Approval for the update has been created and is waiting for approval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1pendingApprovals~1%7Bid%7D/put/responses/202/content/application~1json/schema"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/paths/~1api~1v2~1enterprise/get/responses/404/content/application~1json/schema"
                    },
                    {
                      "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D/put/responses/400/content/application~1json/schema/oneOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/admin/circuitbreakers": {},
    "/api/v2/admin/circuitbreakers/{id}": {},
    "/api/v2/admin/policy": {},
    "/api/v2/admin/policy/{policyId}/mutability": {},
    "/api/v2/admin/policy/{policyId}/consolidateCoinAddressWhitelists": {},
    "/api/v2/pendingApprovals": {
      "get": {
        "tags": [
          "Pending approval"
        ],
        "summary": "List pending approvals",
        "operationId": "v2.approval.list",
        "parameters": [
          {
            "$ref": "#/components/parameters/coinArray"
          },
          {
            "$ref": "#/components/parameters/enterpriseId"
          },
          {
            "name": "state",
            "description": "Filter by state.  The default behavior is to return objects where state is `awaitingSignature`, `pending`, `pendingBitGoAdminApproval`, or `pendingFinalApproval`\n",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "pending",
                  "awaitingSignature",
                  "pendingBitGoAdminApproval",
                  "pendingFinalApproval"
                ]
              }
            }
          },
          {
            "$ref": "#/components/parameters/walletId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pendingApprovals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1api~1v2~1pendingApprovals~1%7Bid%7D/put/responses/202/content/application~1json/schema"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "let walletId = \"590bb3598005caaf07b5bffbe35f3c11\";\n\npendingapproval().list(walletId)\n.then(function(list) {\n  // Print approval list\n  console.dir(list);\n});\n"
          }
        ]
      }
    },
    "/api/v2/pendingApprovals/{id}": {
      "get": {
        "tags": [
          "Pending approval"
        ],
        "summary": "Get pending approval",
        "operationId": "v2.approval.get",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1pendingApprovals~1%7Bid%7D/put/responses/202/content/application~1json/schema"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Pending approval"
        ],
        "summary": "Update pending approval",
        "description": "Updates the state of a pending approval to either `approved` or\n`rejected`. Pending approvals are designed to be managed through\nour web UI. Requests made using an authentication token are\nnot allowed to approve requests. Instead of using pending approvals\nwe recommend creating a webhook policy to do automated approval and\ndenial of transactions.\n",
        "operationId": "v2.approval.update",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated pending approval state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1api~1v2~1pendingApprovals~1%7Bid%7D/put/responses/202/content/application~1json/schema"
                }
              }
            }
          },
          "202": {
            "description": "Further approvals are required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/parameters/userId/schema"
                    },
                    "coin": {
                      "$ref": "#/components/parameters/coin/schema"
                    },
                    "wallet": {
                      "description": "",
                      "$ref": "#/components/parameters/userId/schema"
                    },
                    "enterprise": {
                      "$ref": "#/components/parameters/userId/schema"
                    },
                    "creator": {
                      "$ref": "#/components/parameters/userId/schema"
                    },
                    "createDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "info": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "transactionRequest": {
                              "type": "object",
                              "properties": {
                                "buildParams": {
                                  "type": "object"
                                },
                                "coinSpecific": {
                                  "type": "object"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "fee": {
                                  "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D~1tx~1build/post/requestBody/content/application~1json/schema/properties/feeRate/allOf/0"
                                },
                                "isUnsigned": {
                                  "type": "boolean"
                                },
                                "recipients": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "address": {
                                        "$ref": "#/components/parameters/address/schema"
                                      },
                                      "amount": {
                                        "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D~1tx~1build/post/requestBody/content/application~1json/schema/properties/feeRate/allOf/0"
                                      },
                                      "data": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "requestedAmount": {
                                  "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D~1tx~1build/post/requestBody/content/application~1json/schema/properties/feeRate/allOf/0"
                                },
                                "sourceWallet": {
                                  "$ref": "#/components/parameters/userId/schema"
                                },
                                "triggeredPolicy": {
                                  "$ref": "#/components/parameters/userId/schema"
                                },
                                "validTransaction": {
                                  "type": "string"
                                },
                                "validTransactionHash": {
                                  "type": "string"
                                }
                              }
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "transactionRequest"
                              ]
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "userChangeRequest"
                              ]
                            },
                            "userChangeRequest": {
                              "type": "object",
                              "properties": {
                                "action": {
                                  "type": "string"
                                },
                                "permissions": {
                                  "type": "string"
                                },
                                "userChanged": {
                                  "$ref": "#/components/parameters/userId/schema"
                                }
                              }
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "policyRuleRequest": {
                              "type": "object",
                              "properties": {
                                "action": {
                                  "type": "string"
                                },
                                "update": {
                                  "type": "object",
                                  "properties": {
                                    "action": {
                                      "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7Bid%7D~1policy~1rule/put/requestBody/content/application~1json/schema/properties/action"
                                    },
                                    "coin": {
                                      "$ref": "#/components/parameters/coin/schema"
                                    },
                                    "condition": {
                                      "type": "object",
                                      "properties": {
                                        "excludeTags": {
                                          "$ref": "#/paths/~1api~1v2~1pendingApprovals~1%7Bid%7D/put/responses/202/content/application~1json/schema/properties/info/anyOf/2/properties/policyRuleRequest/properties/update/properties/condition/properties/groupTags"
                                        },
                                        "groupTags": {
                                          "type": "array",
                                          "items": {
                                            "$ref": "#/components/parameters/userId/schema"
                                          },
                                          "example": [
                                            "585951a5df8380e0e3063e9f",
                                            "585951a5df8380e0e304a553"
                                          ]
                                        }
                                      },
                                      "additionalProperties": true
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "the id of the rule that is being updated"
                                    },
                                    "type": {
                                      "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7Bid%7D~1policy~1rule/put/requestBody/content/application~1json/schema/properties/type"
                                    }
                                  }
                                }
                              }
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "policyRuleRequest"
                              ]
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "updateApprovalsRequiredRequest"
                              ]
                            },
                            "updateApprovalsRequiredRequest": {
                              "type": "object",
                              "properties": {
                                "requestedApprovalsRequired": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        }
                      ]
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "awaitingSignature",
                        "pendingBitGoAdminApproval",
                        "pendingFinalApproval",
                        "pendingCustodianApproval",
                        "pendingIdVerification",
                        "approved",
                        "rejected"
                      ]
                    },
                    "scope": {
                      "description": "What kind of entity the pendingApproval is tied to",
                      "type": "string",
                      "enum": [
                        "enterprise",
                        "wallet"
                      ]
                    },
                    "userIds": {
                      "description": "All the Users who should see this Pending Approval",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/parameters/userId/schema"
                      }
                    },
                    "approvalsRequired": {
                      "$ref": "#/paths/~1api~1v2~1%7Bcoin%7D~1wallet~1%7BwalletId%7D/put/requestBody/content/application~1json/schema/properties/approvalsRequired"
                    },
                    "walletLabel": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{coin}/pendingApprovals/{id}": {},
    "/api/v2/user/login": {
      "post": {
        "description": "Creates a short-lived (1 hour) access token for use with the API.  The token must be specified to subsequent\nAPI calls via the `Authorization` HTTP header:\n```text\nAuthorization: Bearer 9b72c68ef394f5146f0f3efc1feafb7a971752cb00e79fafcfd8c1d2db83639c\n```\nWe don't recommend using this endpoint for scripting.  The preferred\napproach is to create a long-lived token in the web UI (see the\nDeveloper Options section in User Settings).\n",
        "tags": [
          "User",
          "Express"
        ],
        "summary": "Login",
        "operationId": "user.login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "otp": {
                    "type": "string",
                    "example": "123456",
                    "description": "Second factor authentication token"
                  },
                  "password": {
                    "type": "string",
                    "example": "secret"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the access token and user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
